body {
    background-color: black;
}
#app-wrapper{
    max-width: 1280px;
    margin: auto;
}

header{
    text-align: center;
}

header h1 {
    font-size: 48px;
    color: #E6E6E6;
}

.index-username{
    text-align: center;
}

.index-username h2 {
    color: #CCC;
    font-weight: bold;
}

.index-username-input{
    display: inline-block;
    margin: auto 16px;
    vertical-align: middle;
    text-align: center;
    width: 150px;
}

.index-functions{
    width: 200px;
    margin: 0 auto;
}

.index-list-box{
    background-color: white;
}

/* Modal Component */
.makeroom-wrapper{
    margin: 10px 10px;
}
.makeroom-wrapper h1 {
    text-align: center;
}

.makeroom-player{
    position: relative;
}
.makeroom-player h2{
    font-size: 64px;
    text-align: center;
}
.makeroom-player p {
    text-align: center;
    margin-left: 20%;
}

.index-arrow-left{
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    width: 32px;
    height: 48px;
    background: url('../images/arrow-left.png');
    background-size: cover;
    opacity: 0.6;
}
.index-arrow-right{
    position: absolute;
    margin: auto;
    right: 0;
    top: 0;
    bottom: 0;
    width: 32px;
    height: 48px;
    background: url('../images/arrow-right.png');
    background-size: cover;
    opacity: 0.6;
}

.makeroom-button{
    text-align: center;
}

/* room-main */
.room-infomation{
    margin: auto;
    max-width: 720px;
    display: flex;
}
.room-infomation-wrapper{
    text-align: right;
    flex: 1;
}
.room-infomation-box{
    margin: auto;
    padding-right: 14px;
    max-width:140px;
    color: white;
}
.room-users{
    margin: auto;
    max-width: 720px;
}

.room-player-wrapper{
    display: flex;
}
.room-player-header{
    background-color: aqua;
    width: 200px;
    min-width: 120px;
}
.room-player-name{
    flex: 1;
    background-color: blanchedalmond;
}
.room-startbutton{
    margin: auto;
    margin-top: 24px;
    max-width: 240px;
}

/* Media Query*/
@media all and (min-width: 768px) and (max-width: 1920px){
    .only-mobile{
        display: none;
    }
}

@media all and (max-width: 767px) {
    #app-wrapper {
        margin: 10px;
    }
    .modal{
        margin: 10px;
    }
}
